/* font link here */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}
/*----------------- main body style ------------------- */
body{
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
    width: 100%;
}
/*----------------- header style here ------------------*/
.header-container{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 130px;
}
.main-header{
    display: flex;
    justify-content: center;
    width: 85%;
    height: 550px;
    border-radius: 30px;
    background: #161616;
}
.header-info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-title h1{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 20px;
}
.header-title p{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 20px;
}
.header-title button{
    cursor: pointer;
    width: 35%;
    padding: 12px 25px;
    background: #DD0000;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    transition: background-color 1s;
}
.header-title button:hover{
    background-color: yellowgreen;
    color: black;
    
}
.header-img img{
    width: 470px;
    height: 500px;
    margin-left: 100px;
    margin-top: 56px;
}
/*--------------- section style here ---------------- */
.section-container{
    display: flex;
    justify-content: center;
    
}
.section-info{
    display: flex;
}

/*----------------- section left------------------ */
.section-left{
    width: 170px;
    height: 205px;
    background: #161616;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-left button{
    width: 125px;
    height: 40px;
    margin: 10px;
    border: none;
    border-radius: 10px;
}
.section-left .button-color{
    background: #DD0000;
    color: #FFFFFF;
}
.section-right-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    column-gap: 30px;
    margin-left: 24px;
}
.link-up-home a{
    text-decoration: none;
    color: #161616;
}
/*-------------------- section right--------------------- */

.section-right{
    width: 255px;
    height: 155px;
    border: 1px solid red;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    padding: 20px;
   
}
.section-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-img h2{
    margin-left: 5px;
    margin-right: 5px;
}
.section-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.section-title h2{
    font-size: 20px;
}
.section-title p{
    margin-top: 20px;
}
/*---------------- footer style here------------ */
footer{
    text-align: center;
    background: #161616;
    margin-top: 100px;
}
.main-footer{
    padding: 50px;
}
.footer-title{
    color: #FFFFFF;
}
hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 50px;
    margin-bottom: 50px;
}
.nav-bar nav ul{
    display: flex;
    justify-content: center;
}
footer nav ul{
    list-style: none;
}
footer nav ul li{
    margin: 0 20px;
}
footer nav ul li a{
    text-decoration: none;
    color: #B9B9B9;
    font-size: 12px;
}



/*----------------- mobile device responsive---------------- */
